@model List<Projekt_60134_ST3.Models.Domain.User>
@{
}

<h1>Lista użytkowników</h1>
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Imię</th>
			<th>Email</th>
			<th>Data urodzin</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		@foreach (var user in Model)
		{
		<tr>
				<td>@user.Id</td>
				<td>@user.Name</td>
				<td>@user.Email</td>
				<td>@user.DateOfBirth.ToString("dd-MM-yyyy")</td>
				<td><a href="Users/View/@user.Id">Edytuj/Usuń</a></td>
		</tr>
		}
	</tbody>
</table>
